<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay; overflow-y: auto;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="icon icon-close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                </button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; } = null;

    [Parameter]
    public Action? OnClose { get; set; }
    
    private string ModalDisplay = "none";
    private string ModalClass = string.Empty;
    private bool ShowBackdrop = false;

    public void Open()
    {
        ModalDisplay = "block";
        ModalClass = "show";
        ShowBackdrop = true;
    }
    
    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = string.Empty;
        ShowBackdrop = false;
        OnClose?.Invoke();
    }
}